<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>646608845548-otqip3k27ibbr2u4ki5bsqe51bspatef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646608845548-otqip3k27ibbr2u4ki5bsqe51bspatef</string>
	<key>API_KEY</key>
	<string>AIzaSyDM4ii4_c0ZPyOdf5Bf6YnbRBLOWvJ5raI</string>
	<key>GCM_SENDER_ID</key>
	<string>646608845548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MahammadJafarli.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-a4139</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-a4139.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646608845548:ios:84540a7fd84b486aaec3c9</string>
	<key>DATABASE_URL</key>
	<string>https://twitterclone-a4139.firebaseio.com</string>
</dict>
</plist>